*.pyc
.vscode/
debug_dump
logs/
logsg
models/*.ckpt
weights/*.ckpt
**__pycache__*
data/
data/*
.ipynb_checkpoints
utils/__pycache__/*
utils/__pycache__
utils/__pycache__/*.pyc
visualizers/__pycache__/*
visualizers/__pycache__
visualizers/__pycache__/*.pyc
utils/__pycache__/*.pyc
utils/__pycache__/
utils/__pycache__

temp_scripts/files/
temp_scripts/*.png
temp_scripts/*.jpeg
temp_scripts/*.obj
temp_scripts/*.exr
temp_scripts/*.gif
temp_scripts/testing_aliasing/*
temp_scripts/testing_aliasing
temp_scripts/testing_aliasing/data_final_version